@{
    ViewData["Title"] = "Home Page";
}

    <body>

<div class="text-center">
    <h1 class="display-4">BIENVENIDOS</h1>
   

   
      
    </div>
    
</div>

</body>


<style>
 
body{
  
   width: 100%;
   background-color: #24B4F1;
   background-image: url(https://www.gifss.com/escolares/estudiante-4.gif);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 40%;
   
}
  
 h1{
    color: yellow;
 }
 


</style>