@{
    ViewData["Title"] = "Los Servicios de Post de jsonplaceholder";
}
<h1>@ViewData["Title"]</h1>

<p> Es una herramienta en línea que proporciona una API de simulación para desarrolladores de aplicaciones web y móviles. Ofrece una variedad de recursos, como usuarios, publicaciones y comentarios, que se pueden acceder mediante peticiones HTTP. Esto permite a los desarrolladores probar y desarrollar sus aplicaciones sin tener que depender de una API real.</p>

<style>

    body{
        background-image: url(https://cdn.pixabay.com/photo/2018/06/14/22/50/nature-3475815_1280.jpg);
        background-position: talla */center;
    background-repeat: no-repeat;
    background-size: cover; 
       width: 100%;

    }

    h1{
        text-align: center;
        color: yellow;
    }
</style>